# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.pnpm-store/

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem


# Block ALL local environment files and secrets
.env
.env*.local
.env.development
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Block code editor caches
.vscode/
.idea/

# Block the literal %USERPROFILE% folder created on the E drive
"%USERPROFILE%/"
