.about{
    display: flexbox;
    max-width: fit-content;
    max-height: fit-content;
  }

  .background{
    background-color: aliceblue;
  }
  
  .section1{
    text-align: center;
    padding-bottom: 3%;
  }